.catalog {
  padding-top: 43px;
  margin: 0 -15px;

  @media (max-width: 1024px) {
    padding-top: 25px;
  }
}

.catalog > div {
  padding: 0 15px 30px 15px;

  @media (max-width: 767px) {
    padding: 0 25px 27px 25px;
  }
}