.city-select {
  margin-right: 94px;
}

.city-select ul {
  display: none;
}

.city-select {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.city-select__link {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;

  svg {
    fill: none;
    stroke: #fff;
    margin-left: 5px;
  }
}