.v-select {
  margin-left: 22px;
}

.vs__dropdown-toggle {
  position: relative;
  padding: 10px 34px 10px 14px;
  background: #ECECEC;
  border-radius: 3px;
  color: #00A54D;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  border: none;
  transition: 0.3s ease;
  outline: none;

  &:after {
    position: absolute;
    content: "";
    background-image: url("../img/icons/arrow-down-bg-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 6px;
    transition: 0.3s ease;
  }
}

/* .custom-select-option.is-selected::before {
  display: none;
} */

.vs__actions {
  display: none;
}

.vs--open .vs__dropdown-toggle {
  padding: 10px 41px 10px 7px;

  &:after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.vs--open.vs--single .vs__selected {
  opacity: 1;
  position: static;
}

.sort_select--numbers .vs__dropdown-toggle {
  padding: 10px 34px 10px 11px;
}

.vs--open .vs__dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 4px;
  background: #ECECEC;
  border-radius: 3px;
  border: none;
}

/* .custom-select-container.is-open .custom-select-panel {
  max-height: 200px;
} */

.vs__dropdown-menu
.vs__dropdown-option.vs__dropdown-option--selected {
  background: none;
  color: #00A54D;
}

.vs__dropdown-option {
  border: none;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding: 10px 7px;
  cursor: pointer;
  color: #606060;

  &:hover {
    background: #d4d4d4;
  }
}

.sort_select--numbers .vs__dropdown-option {
  text-align: center;
}
