.pagination {
  padding-bottom: 31px;

  @media (max-width: 1023px) {
    padding-bottom: 40px;
  }
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.pagination__list a {
  width: 42px;
  height: 42px;
  margin: 0 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-radius: 50%;
  color: #606060;
  text-decoration: none;
  outline: none;
}

.pagination__list .active a {
  border: 2px solid #00A54D;
}

.pagination__list li:first-child,
.pagination__list li:last-child {
  fill: #00A54D;
  margin: 0 24px;

  @media (max-width: 767px) {
    margin: 0 -12px;
  }
}

.pagination__list .disabled svg{
  fill: #606060;
}

.pagination__list li:last-child {
  transform: rotate(180deg);
}