.page(id="content")
  .page__header
    .page__logo
      img(src="img/logo.png", srcset="img/logo@2x.png 2x", alt="logo")
    include user-nav.pug
  .page__menu-wrapper
    .page__menu
      .menu
        button.menu__btn(aria-label="меню")
          span
        span.menu__label Каталог товаров
      .search
        form(action="#")
          +icon-sprite("search-icon", 22, 23)
          input(type='search' name="search" placeholder="Что вы хотите найти?")
          button.search__submit(type="submit") Найти
  .page__container
    include breadcrumbs.pug
    h2.page__title Новинки продуктов
    .grid.content
      include filter.pug
      .col-9_md-12
        .catalog-sort
          include sort.pug
          .grid.catalog
            product(:item="item" v-for="item in shownItems" :key="item.id")
      include pagination.pug
      .content__sort-select
          span Сортировать по
          <v-select v-model="sortType" :clearable="false" :searchable="false" :options="sortTypeOptions"></v-select>
      .modal.modal--basket
        button(type="button", aria-label="закрыть").modal__close Х
        p.modal__text