header.header
  .header__content
    .city-select
      span.city-select__label Ваш город:&nbsp;
      a.city-select__link(href="#") Тюмень
        <svg width="11" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l4.5 4L10 1" stroke-width="1.5"/></svg>
      ul.city-select__list
        li city
        li city
    ul.header__menu
      li
        a.header__menu-link(href="#") О компании
      li
        a.header__menu-link(href="#") Наши магазины
      li
        a.header__menu-link(href="#") Работа у нас
    a(href="tel:8(800)700-58-00").header__phone 8 (800) 700-58-00
