.col-12.pagination
  ul.pagintaion__list
    li
      a(href="#").pagintaion__link.pagintaion__link--prev.pagintaion__link--disabled
        +icon-sprite("arrow-icon", 16, 11)
    li
      a(href="#").pagintaion__link.pagintaion__link--active 1
    li
      a(href="#").pagintaion__link 2
    li
      a(href="#").pagintaion__link 3
    li
      a(href="#").pagintaion__link 4
    li
      a(href="#").pagintaion__link.pagintaion__link--more ...
    li
      a(href="#").pagintaion__link 60
    li
      a(href="#").pagintaion__link.pagintaion__link--next
        +icon-sprite("arrow-icon", 16, 11)