.sort
  .sort__radio-view.sort__radio-view--tiles
    label
      input(type="radio" name="view" value="плитка" checked)
      span(aria-label="отображать плиткой")
        +icon-sprite("tile-icon", 33, 33)
  .sort__radio-view.sort__radio-view--list
    label
      input(type="radio" name="view" value="список")
      span(aria-label="отображать списком")
        +icon-sprite("list-icon", 24, 16)
  .checkbox.sort__checkbox
    label
      input(type="checkbox" v-model="onlyDiscount")
      span Цена со скидкой
  .sort_select.sort_select--numbers(id="amountItemsOnPage")
    span Товаров на странице
    <v-select v-model="amountOnPage" :clearable="false" :searchable="false" :options="amountOnPageOptions"></v-select>
  .sort_select.sort_select--method
    span Сортировать по
    <v-select v-model="sortType" :clearable="false" :searchable="false" :options="sortTypeOptions"></v-select>