.sort
  .sort__radio-view.sort__radio-view--tiles
    label
      input(type="radio" name="view" value="плитка")
      span(aria-label="отображать плиткой")
        +icon-sprite("tile-icon", 33, 33)
  .sort__radio-view.sort__radio-view--list
    label
      input(type="radio" name="view" value="список")
      span(aria-label="отображать списком")
        +icon-sprite("list-icon", 24, 16)
  .checkbox.sort__checkbox
    label
      input(type="checkbox" name="Santa Maria")
      span Цена со скидкой
  .sort_select.sort_select--numbers
    span Товаров на странице
    select(id="sort_items_number")
      option 6
      option 12
      option 18
      option 24
  .sort_select.sort_select--method
    span Сортировать по
    select(id="sort_items_method")
      option популярности
      option названию А-Я
      option названию Я-А
      option возрастанию цены
      option убыванию цены