ul.user-nav
  li.user-nav__item.user-nav__item--faq
    a.user-nav__link(href="#")
      .user-nav__icon
        +icon-sprite("question-icon", 25, 25)
      .user-nav__text
        |Вопросы и ответы
  li.user-nav__item.user-nav__item--login
    a.user-nav__link(href="#")
      .user-nav__icon
        +icon-sprite("login-icon", 22, 25)
      .user-nav__text
        |Вход/Регистрация
  basket